html,
body,
.App,
#root {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #f8fafc;
}

.top-bar {
  height: 5vh;
}

.background {
  background-image: url("../public/net.png");
  padding: 15vh;
  position: relative;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  padding: 1%;
  padding-left: 4%;
  background-image: linear-gradient(to bottom right, #003366, #11243d);
  font-size: calc(10px + 2vmin);
  color: #e5e7eb;
  font-weight: bold;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
