@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700&display=swap");

body {
  font-family: "Titillium Web", sans-serif;
}

html {
  background-image: "/Users/keitelanana/Projects/net-component-scraper/frontend/public/net.png";
  height: 100vh;
}
